.app__footer_overlay{
    width: 100%;
    height: 100%;
    z-index: 100;

    display: flex;
    flex-direction: column;
   /* ovelay has position relative not absolute cuz it over the background */
    position: relative;
}
.app__footerOverlay-black{
    height: 25%;
    background: var(--color-black);

}
.app__footerOverlay-img{
    height: 75%;
}
